//- Navbar mixins
mixin nav(name, id)
	header( class=["navbar", "fixed-top", "navbar-expand-lg", "navbar-dark", "bd-navbar"] )
		a.navbar-brand(href="#")= name
		button.navbar-toggler( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls=id, aria-label="Toggle navigation")
				span.navbar-toggler-icon
		.collapse.navbar-collapse( id=id )
			ul.mr-auto.navbar-nav
				block
mixin nav_item(href, active)
	a(class=["nav-item", "nav-link", active], href=href )
		block
mixin nav_item_dropdown(href, active)
	li(class=["dropdown", "nav-item", active])
		a.dropdown-toggle(class="dropdown-item", href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
			span.caret
		ul.dropdown-menu( role="menu" )
			block
mixin nav_divider
	li.divider
mixin nav_header
	li.dropdown-header
		block
//- End navbar mixins

//- Page mixins

mixin card(title, text, alt, href, src)
	div.card( style="width:18rem;" )
		img( src= src, class="card-img-top", alt= alt, style="max-width:10em;max-height:10em;" )
		div.card-body
			h5.card-title= title
			p.card-text= text
			a( class=["btn","btn-primary"], href= href )= alt
				block
//- End page mixins