//- Navbar mixins

mixin nav(name, id)
	nav( class=["navbar", "fixed-top", "navbar-expand-lg", "navbar-dark", "bd-navbar", "rounded-0"] )
		div( style="margin:auto;" )
			button.navbar-toggler( type="button", data-bs-toggle="collapse", data-bs-target="#" + id, aria-expanded="false", aria-controls=id, aria-label="Toggle navigation")
					span.navbar-toggler-icon
			.collapse.navbar-collapse( id=id )
				ul.nav.navbar-nav
					block
mixin nav_item(href, active)
	li(class=["nav-item"])
		a( class=["nav-link", active], href=href )
			block
mixin nav_item_dropdown(href, active)
	li(class=["dropdown", "nav-item", active], style="margin:auto 1em;" )
		a.dropdown-toggle(class="dropdown-item", href=href, data-bs-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
			span.caret
		ul.dropdown-menu( role="menu")
			block
mixin nav_divider
	li.divider
mixin nav_header
	li.dropdown-header
		block
		
//- End navbar mixins

//- Page mixins

mixin sidebar(name, id)
	div( class=["d-flex", "flex-column","flex-shrink-0","p-3","text-white","bg-dark"], style="width: 280px;" )
		a( href="/", class=["d-flex","align-items-center","mb-3","mb-md-0","me-md-auto","text-white","text-decoration-none"] )
			span.fs-4= title
		hr
		ul.nav.nav-pills.flex-column.mb-auto 
			block
		hr
  
mixin card(title, text, src)
	div.card( style="width:18rem; text-align:center; " )
		img( onerror="this.onerror=null; this.src='/res/sprites/base/low_battery.png'", src= src, class="card-img-top pixel rounded-0 border border-primary", style="max-width:10em;max-height:10em;margin:auto;margin-top:2.5em;background-color:#ababab;" )
		div.card-body
			h5.card-title.caps= title
			p.card-text= text
				block
mixin card_link(title, text, alt, href, src)
	div.card( style="width:18rem; text-align:center;" )
		img( onerror="this.onerror=null; this.src='/res/sprites/base/low_battery.png'", src= src, class="card-img-top pixel rounded-0 border border-primary", alt= alt, style="max-width:10em;max-height:10em;margin:auto;margin-top:2.5em;background-color:#ababab;" )
		div.card-body
			h5.card-title.caps= title
			p.card-text= text
			a( class=["btn","btn-primary","caps"], href= href )= alt
			block
mixin row_container
	div.container
		div.row.g-4
			block
mixin goto_pet_button(href)
	a( class=["btn","btn-primary","caps"], href= href ) Pet
		block
			
//- End page mixins

//- Footer mixins

mixin footer
	footer.py-3.my-4
		ul.nav.justify-content-center.border-bottom.pb-3.mb-3
			li.nav-item
				a.nav-link.px-2.footer-text.caps #{title}
		p.text-center.footer-text 2023 © Phi Lambda Phi National Fraternity 
		
//-